@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,400;1,700&family=IM+Fell+English:ital@1&family=Montserrat&display=swap');

:root {
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    background-color: #DBF2CC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: loading 2s linear forwards;
}

.splash {
    width: 100%;
    background-color: #DBF2CC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* animation: loading 2s linear forwards; */
}

.splash img:nth-of-type(1) {
    width: 25%;
    transform: rotate(45deg);
    align-self: flex-end;
}

.splash img:nth-of-type(2) {
    width: 50%;
}

.splash img:nth-of-type(3) {
    width: 25%;
    transform: rotate(225deg);
    align-self: flex-start;
}


.order {
    width: 25%;
    margin: 2% 0;
    opacity: 0;
    color: #DBF2CC;
    background-color: #75BF44;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    padding: 1% 2%;
    border-radius: 10px;
    transition: .5s;
    animation: loading 2s linear forwards;
}

.order:hover {
    box-shadow: 0 0 20px #36760C;
    filter: hue-rotate(45deg);
}

@keyframes loading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#main {
    position: relative;
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #36760C;
    animation: loading 1s 2s linear forwards;
}

.intro {
    position: relative;
    width: 100%;
    padding: 0 5%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.intro img {
    width: 30%;
}

.intro img:nth-of-type(1) {
    z-index: 1;
    margin-right: 3%;
    border-radius: 10%;
    box-shadow: 10px 10px 5px #75BF44;
}

.intro img:nth-of-type(2) {
    position: absolute;
    top: 40%;
    left: 10%;
    opacity: .5;
    transform: rotate(135deg)
}

.intro p {
    width: 45%;
    font-size: 1.5rem;
    line-height: 3rem;
    z-index: 1;
}

.intro span {
    font-family: 'IM Fell English', serif;
}

.burger {
    position: absolute;
    top: -10%;
    right: -15%;
    width: 50%;
}

.healthy {

}