@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,400;1,700&family=IM+Fell+English:ital@1&family=Montserrat&display=swap');

:root {
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    background-color: #DBF2CC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.splash {
    width: 100%;
    background-color: #DBF2CC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: splash-loading 2s linear forwards;
}

.splash img:nth-of-type(1) {
    width: 25%;
    transform: rotate(45deg);
    align-self: flex-end;
}

.splash img:nth-of-type(2) {
    width: 50%;
}

.splash img:nth-of-type(3) {
    width: 25%;
    transform: rotate(225deg);
    align-self: flex-start;
}

@keyframes splash-loading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a.scroll {
    visibility: hidden;
    text-decoration: none;
    color: #3a281c;
    font-size: clamp(.5rem, 3vw, 2rem);
    animation: scroll-loading 1s 3s linear infinite;
  }

  a.scroll::after {
    content: "Click here or scroll down";
  }

  @keyframes scroll-loading {
    from {
      visibility: hidden;
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }
  
.order {
    width: 25%;
    margin: 2% 0;
    color: #DBF2CC;
    background-color: #75BF44;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    padding: 1% 2%;
    border-radius: 10px;
    transition: .5s;
}

.order:hover {
    box-shadow: 0 0 20px #3a281c;
}